#!/usr/bin/env python
PACKAGE = "world_model_consistency_check"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("depth", int_t, 0, "The depth used for octree comparison", 13,  0, 16)
gen.add("volume_threshold", double_t, 0, "The volume threshold to select a cluster", 0.005,  0, 0.010)
gen.add("exceeding_threshold", double_t, 0, "The occupation ratio threshold to define a target cell as inconsistent exceeding type", 0.0,  0, 1.0)
gen.add("missing_threshold", double_t, 0, "The occupation ratio threshold to define a target cell as inconsistent missing type", 0.0,  0, 1.0)
gen.add("exceeding_threshold_with_regions", double_t, 0, "The occupation ratio threshold to define a target cell as inconsistent exceeding type", 0.15,  0, 1.0)
gen.add("missing_threshold_with_regions", double_t, 0, "The occupation ratio threshold to define a target cell as inconsistent missing type", 0.9,  0, 1.0)


exit(gen.generate(PACKAGE, "world_model_consistency_checks", "DepthConfiguration"))
